body {
    text-align: center;
    background-color: rgb(228, 227, 227);
}
img {
    border-radius: 10px;
}
.results {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    background-color: #8080804d;
    
}

.book-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin: 5px;
    /* padding: 15px; */
    text-align: center;
    border-radius: 6px;
    background-color: #faf3ecdc;
}
#search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #000080;
  }
  .description-button{
      margin: 10px;
  }
  .description-content {

  }
  .modal-div {

  }